{% extends "layout.html" %}
{% block body %}

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-contact relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2>Get in  <span class="primary">touch</span> <span class="title-bg">Contact</span></h2>
                                    <p>Feel free to contact me :)</p>
                                </div>
                            </div>                            
                        </div> <!-- /.row -->

                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                                <div class="contact-block">
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="tf-envelope2"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4>Email</h4>
                                            <p><a href="mailto:akcaptain455@gmail.com">akcaptain455@gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>

                                <ul class="contact-social">
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="#"><i class="tf-ion-social-facebook"></i></a>
                                    </li>
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="#"><i class="tf-ion-social-twitter"></i></a>
                                    </li>
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="#"><i class="tf-ion-social-google"></i></a>
                                    </li>
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="#"><i class="tf-ion-social-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7 col-md-offset-1 col-lg-offset-2">
                                <div class="section-title clear">
                                    <h3>Contact form <small>comming soon!</small></h3>
                                    <span class="bar-dark"></span>
                                    <span class="bar-primary"></span>
                                </div>

                                <!-- <form id="contact-form" class="row contact-form no-gutter" action="/contact" method="POST">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-field name">
                                            <span class="input-icon" id="name" ><i class="tf-profile-male"></i></span>
                                            <input name="contact_name" type="text" class="form-control"  placeholder="Enter your name">
                                        </div>
                                    </div> 
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-field email">
                                            <span class= "input-icon" id="email"><i class="tf-envelope2"></i></span>
                                            <input name="contact_email" type="email" class="form-control" name="email" placeholder="Your email address">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="input-field">
                                            <span class= "input-icon" id="subject"><i class="tf-pricetags"></i></span>
                                            <input name="contact_title" type="text" class="form-control" name="subject" placeholder="Enter the discussion title">
                                        </div>
                                    </div> 
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="input-field message">
                                            <span class= "input-icon" ><i class="tf-pencil2"></i></span>
                                            <textarea name="contact_message" id="message" class="form-control" placeholder="Write your message"></textarea>
                                        </div>
                                    </div> 
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="input-field">
                                            <span class="btn-border">
                                                <button type="submit" class="btn btn-primary btn-custom-border text-uppercase">Send Message now</button>
                                            </span>
                                        </div>
                                        <div class="msg-success">Your Message was sent successfully</div>
                                    </div> 
                                </form>  -->

                                Forms Comming soon! Stay tuned :)
                                till then if you want to contcat me, you can 
                                <b><a href="mailto:akcaptain455@gmail.com">Email me</a></b> or contact me on <b>
                                    <a href="{{ discord_server_link }}" target="_blank">Disocrd</a></b>
                            </div>
                        </div> 
                    </div> 

                   

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->

{% endblock %}