{% extends "layout.html" %}
{% block body %}

    <main class="site-wrapper">
        <div class="pt-table">
            <div class="pt-tablecell page-resume relative">
                <!-- .close -->
                <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                <!-- /.close -->

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                            <div class="page-title text-center">
                                <h2>My <span class="primary">history</span> <span class="title-bg">Resume</span></h2>
                                <p>Not much in my resume because I am a begginer...</p>
                            </div>
                        </div>
                    </div> <!-- /.row -->

                    <div class="container">
                        <div class="info-section">
                            <h2>Education</h2>
                            <p>Currently doing my high schooling from <span><a href="#">Hem sheela model school</a>
                                </span> Durgapur, India <br>
                                Currently in class/grade : 8</p>
                            <hr>
                        </div>

                        <div class="info-section">
                            <h2>Programming Knowledge</h2>
                            <p><ul>
                                <li>➡ HTML5</li>
                                <li>➡ CSS</li>
                                <li>➡ SASS</li>
                                <li>➡ JavaScript</li>

                                <br>

                                <li>➡ Php</li>
                                <li>➡ Python3</li>
                                <li>➡ Djano</li>
                                <li>➡ Flask</li>

                                <br>

                                <li>➡ PhpMyAdmin</li>
                                <li>➡ SqlLite3</li>

                            </ul></p>
                            <hr>
                        </div>

                        <div class="info-section">
                            <h2>Past Experience</h2>
                            <p>
                                I am very new to feelancing, I have got very less orders till now but still trying <br> my best to explore more on these skills...
                            </p>
                            <hr>
                        </div>

                    </div>


                </div> <!-- /.container -->


                <!-- /.container -->

            </div> <!-- /.pt-tablecell -->
        </div> <!-- /.pt-table -->
    </main> <!-- /.site-wrapper -->

    {% endblock %}